<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script>

  <div class="file-div col-md-6 col-md-offset-3 text-center" style="margin-top: 20px; padding: 30px;">
    <div class="col-xs-6 col-xs-offset-3">
      <%= form_tag import_home_index_path, multipart: true do %>
      <%= file_field_tag :file %>
    </div>
    <br />
    <button type="submit" class="btn import-btn">Import</button>
    <% end %>
  </div>

  <% if @homes.any? %>
    <table id="myTable" class="table-striped table" style="width: 100%">
      <thead>
        <th>Year Built</th>
        <th>Prop Address</th>
        <th>Prop City</th>
        <th>Prop Zip</th>
        <th>Owner</th>
        <th>Mail Address</th>
        <th>Mail City</th>
        <th>Mail Zip</th>
        <th>SqFt</th>
        <th>Bed Bath</th>
        <th>BathRoom</th>
        <th>Zestimate</th>
        <th>Assessed Value</th>
        <th>Equity</th>
      </thead>

      <tbody>
        <% @homes.each do |h| %>
        <% address = h.propad.gsub(' ', '-') %>
        <% zip = h.prop_zip %>
        <% url = "http://www.zillow.com/homes/#{address}-#{zip}_rb/" %>
        <% if h.zestimate != "no zestimate available" %>
          <% equity = h.zestimate.to_f / h.assessed.to_f %>
          <% equity = equity.round(2) %>
        <% else %>
          <% equity = "N/A" %>
        <% end %>

        <% if h.prop_zip != h.zip %>
          <% style = "color: red;" %>
        <% else %>
          <% style = "color: green;"%>
        <% end %>
          <tr>
            <td><%= h.year_built %></td>
            <td style="<%= style %>" ><%= h.propad %></td>
            <td><%= h.prop_city %></td>
            <td><%= h.prop_zip %></td>
            <td><%= h.owner %></td>
            <td><%= h.mailad %></td>
            <td><%= h.city %></td>
            <td><%= h.zip %></td>
            <td><%= h.sqft %></td>
            <td><%= h.bedbath %></td>
            <td><%= h.bathroom %></td>
            <td><a href=<%= url %> target="_blank"><%= h.zestimate %></a></td>
            <td><%= h.assessed %></td>
            <td><%= "#{equity}%" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center col-sm-6 col-sm-offset-3">
      <h1 class="center-block">No data to display, please add file</h1>
    </div>
  <% end %>
